* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#5965E0;

    font-family: 'Inter';
}

.simbolo {
    position: absolute;
    width: 768px;
    height: 660px;
    left: -20px;
    top: 80px;
}

.logo {
    position: absolute;
    margin-left: 820px;
    margin-top: 199px;
}

.conteudo h1 {
    width: 191px;
    height: 46px;

    color: #FFF;

    font-size: 36px;
    line-height: 46px;
    font-weight: 600;

    position: absolute;
    margin-left: 820px;
    margin-top: 370px;
}

.flex {
    display: flex;
}

.flex img {
    position: absolute;
    
    margin-top: 451.83px;
    margin-left: 820px;
}

.flex h2 {
    position: absolute;
    display: flex;

    color: #B3B9FF;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    width: 254px;
    height: 60px;

    margin-left: 884px;
    margin-top: 441px;
}

.campo {
    position: absolute;

    width: 340px;
    height: 80px;

    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    border-radius: 5px 0 0 5px;
    border: none;

    margin-left: 820px;
    margin-top: 541px;
}

::placeholder {
    padding-left: 30.32px;

    color: #B2B9FF;

    font-size: 20px;
    line-height: 34px;
}

.btn {
    position: absolute;

    width: 80px;
    height: 80px;

    margin-left: 1160px;
    margin-top: 541px;

    border: none;
  
    border-radius: 0 5px 5px 0;
}

.seta {
    position: absolute;

    text-indent: -9999px;

    background: #4953B8 url(img/Seta.png) no-repeat center;
    
}

.seta:hover {
    background-color: #4CD62B;
}

